USE [ProyectoAmbulancia1]
GO

/****** Object:  StoredProcedure [dbo].[sp_crear_ambulancia]    Script Date: 03/08/2023 18:25:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[sp_crear_ambulancia]
    @codigo VARCHAR(50) NOT NULL,
    @marca VARCHAR(50),
    @numero_placa VARCHAR(20),
    @anio VARCHAR(4),
    @id_conductor VARCHAR(50)
AS
BEGIN
    DECLARE @codnuevo VARCHAR(5), @codmax VARCHAR(5)
    SET @codmax = (SELECT MAX(codigo) FROM ambulancias)
    SET @codmax = ISNULL(@codmax, 'A0000')
    SET @codnuevo = 'A' + RIGHT('0000' + CAST(RIGHT(@codmax, 4) AS INT) + 1, 4)

    INSERT INTO ambulancias (codigo, marca, numero_placa, anio, id_conductor)
    VALUES (@codigo, @marca, @numero_placa, @anio, @id_conductor)

    -- Realizar el INNER JOIN entre ambulancias y conductor para obtener el nombre del conductor
    SELECT a.codigo, a.marca, a.numero_placa, a.anio, c.nombre as conductor_nombre
    FROM ambulancias a
    INNER JOIN conductor c ON a.id_conductor = c.id_conductor
    WHERE a.id_conductor = @id_conductor;

END

INSERT INTO ambulancias (codigo, marca, numero_placa, anio, id_conductor)
VALUES ('A0001', 'Chevrolet', 'ASD-2356', '2019', '7894');

select * from ambulancias
Select * from conductor