USE [ProyectoAmbulancia1]
GO
/****** Object:  StoredProcedure [dbo].[sp_modificar_ambulancia]    Script Date: 03/08/2023 18:40:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_modificar_ambulancia]
    @codigo VARCHAR(50),
    @marca VARCHAR(100),
    @numero_placa VARCHAR(20),
    @anio varchar(4),
    @id_conductor varchar(50)
AS
BEGIN
    UPDATE ambulancias
    SET marca = @marca,
        numero_placa = @numero_placa,
        anio = @anio,
        id_conductor = @id_conductor
    WHERE codigo = @codigo;
END


